# Natural Language Processing in Action

## 2. Word Tokenization

In [3]:
# Example sentence
sentence = "Thomas Jefferson began building Monticello at the age of 26."

In [4]:
sentence.split()

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 'of',
 '26.']

In [5]:
str.split(sentence)

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 'of',
 '26.']

### One-hot vector を作ってみる

In [9]:
import numpy as np

In [17]:
!poetry add pandas

Using version ^1.2.4 for pandas

Updating dependencies
Resolving dependencies... (0.8s)

Writing lock file

Package operations: 1 install, 0 updates, 0 removals

  • Installing pandas (1.2.4): Pending...
  • Installing pandas (1.2.4): Downloading... 0%
  • Installing pandas (1.2.4): Downloading... 20%
  • Installing pandas (1.2.4): Downloading... 40%
  • Installing pandas (1.2.4): Downloading... 60%
  • Installing pandas (1.2.4): Downloading... 80%
  • Installing pandas (1.2.4): Downloading... 100%
  • Installing pandas (1.2.4): Downloading... 100%
  • Installing pandas (1.2.4): Installing...
  • Installing pandas (1.2.4)

In [18]:
import pandas as pd

In [11]:
token_sequence = str.split(sentence)
vocab = sorted(set(token_sequence))
num_tokens = len(token_sequence)
vocab_size = len(vocab)

In [14]:
onehot_vectors = np.zeros((num_tokens, vocab_size), int)

In [15]:
for i, word in enumerate(token_sequence):
    onehot_vectors[i, vocasb.index(word)] = 1

onehot_vectors

array([[0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [19]:
df = pd.DataFrame(onehot_vectors, columns=vocab)

In [20]:
df

   26.  Jefferson  Monticello  Thomas  age  at  began  building  of  the
0    0          0           0       1    0   0      0         0   0    0
1    0          1           0       0    0   0      0         0   0    0
2    0          0           0       0    0   0      1         0   0    0
3    0          0           0       0    0   0      0         1   0    0
4    0          0           1       0    0   0      0         0   0    0
5    0          0           0       0    0   1      0         0   0    0
6    0          0           0       0    0   0      0         0   0    1
7    0          0           0       0    1   0      0         0   0    0
8    0          0           0       0    0   0      0         0   1    0
9    1          0           0       0    0   0      0         0   0    0

### Bag of Words を作ってみる

In [25]:
sentences = (
"Thomas Jefferson began building Monticello at the age of 26.\n"
"Construction was done mostly by local masons and carpenters.\n"
"He moved into the South Pavilion in 1770.\n"
"Turning Monticello into a neoclassical masterpiece was Jefferson's obsession."
)

In [27]:
corpus = {}

In [28]:
for i, sent in enumerate(sentences.split('\n')):
    corpus[f"sent{i}"] = dict((tok, 1) for tok in sent.split())

In [29]:
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T

In [30]:
df[df.columns[:10]]

       Thomas  Jefferson  began  building  Monticello  at  the  age  of  26.
sent0       1          1      1         1           1   1    1    1   1    1
sent1       0          0      0         0           0   0    0    0   0    0
sent2       0          0      0         0           0   0    1    0   0    0
sent3       0          0      0         0           1   0    0    0   0    0

In [31]:
df

,Thomas,Jefferson,began,building,Monticello,at,the,age,of,26.,...,South,Pavilion,in,1770.,Turning,a,neoclassical,masterpiece,Jefferson's,obsession.
sent0,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
sent1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
sent2,0,0,0,0,0,0,1,0,0,0,...,1,1,1,1,0,0,0,0,0,0
sent3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,1,1,1,1,1

In [32]:
df = df.T

In [33]:
df.sent0.dot(df.sent1)

0

In [34]:
df.sent0.dot(df.sent2)

1

In [35]:
df.sent0.dot(df.sent3)

1

### 正規表現でトークナイズを改善する

In [37]:
import re
pattern = re.compile(r"[-\s.,;!?]+")
tokens = pattern.split(sentence)
tokens = [x for x in tokens if x and x not in "- \t\n.,;!?"]
tokens

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 'of',
 '26']

### ライブラリを使ってトークナイズする

各ライブラリの特徴は次の通り。
- spaCy: Accurate , flexible, fast, Python
- Stanford CoreNLP: More accurate, less flexible, fast, depends on Java 8
- NLTK: Standard used by many NLP contests and comparisons, popular, Python

#### spaCyを使ってみる

In [41]:
import spacy
# 英語用のトークナイザ等を読み込む
nlp = spacy.load("en_core_web_sm")
doc = nlp(sentence)
[token for token in doc]

[Thomas, Jefferson, began, building, Monticello, at, the, age, of, 26, .]

#### NLTKを使ってみる

In [42]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(r"\w+|$[0-9.]+|\S+")
tokenizer.tokenize(sentence)

['Thomas',
 'Jefferson',
 'began',
 'building',
 'Monticello',
 'at',
 'the',
 'age',
 'of',
 '26',
 '.']